@model EBookLibraryData.Models.ViewModels.LibraryManage.BooksManageViewModel

@{
    Layout = "_ManageLibraryLayout";
}

<script src="~/js/managePanel.js"></script>
<script src="~/js/pagination.js"></script>
<script src="~/js/doubleInput.js"></script>

<h3 class="pb-2">
    @ViewData["Title"]
    <span style="display: inline-block; float: right">
        <span style="display: inline-block">
            <!-- Button trigger modal -->
            <button class="btn btn-success" data-toggle="modal" data-target="#add-modal"><span class="fa fa-plus"></span></button>
        </span>
        <span style="display: inline-block">
            <button class="btn btn-primary" id="export-modal"><span class="fa fa-file-pdf"></span></button>
        </span>
    </span>
</h3>
@if (Model.AddedSuccessfully)
{
    <div class="alert alert-success" role="alert">
        @Model.AddSuccess
    </div>
}
else if (Model.AddError)
{
    <div class="alert alert-danger" role="alert">
        @Model.AddFailed
    </div>
}
@if (Model.RemovedSuccessfully)
{
    <div class="alert alert-success" role="alert">
        @Model.RemoveSuccess
    </div>
}
else if (Model.RemoveError)
{
    <div class="alert alert-danger" role="alert">
        @Model.RemoveFailed
    </div>
}

<!-- Modal -->
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="add-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-modal-label">Dodaj nową książkę</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row p-2">
                    <div class="col-xs-12">
                        <form enctype="multipart/form-data" asp-controller="LibraryManage" asp-action="AddBook" method="post" id="manage-books-form">
                            <div class="form-row">
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="BookCovering"></label>
                                        <br />
                                        <img class="img-fluid p-2" id="book-covering-image"
                                             src="~/images/Icons-master/picol_latest_prerelease_svg/document_image_add.svg" />
                                        <input asp-for="BookCovering" class="form-control-file" id="book-covering" accept="image/*" />
                                        <span asp-validation-for="BookCovering" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Book"></label>
                                        <input asp-for="Book" class="form-control-file" id="book" accept=".pdf" />
                                        <span asp-validation-for="Book" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Title"></label>
                                        <input asp-for="Title" class="form-control" id="title" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Id"></label>
                                        <input asp-for="Id" class="form-control" id="id" min="0" />
                                        <span asp-validation-for="Id" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="ISBN"></label>
                                        <input asp-for="ISBN" class="form-control" id="isbn" min="0" />
                                        <span asp-validation-for="ISBN" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Pages"></label>
                                        <input asp-for="Pages" class="form-control" id="pages" min="0" />
                                        <span asp-validation-for="Pages" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    @*<div class="form-group">
                                        <label asp-for="Publisher"></label>
                                        <input asp-for="Publisher" class="form-control" id="publisher" />
                                        <span asp-validation-for="Publisher" class="text-danger"></span>
                                    </div>*@
                                    <div class="form-group">
                                        <label asp-for="Publisher"></label>
                                        <select asp-for="Publisher" class="form-control" id="publisher">
                                            <option value=""></option>
                                            @if (Model.Publishers != null)
                                            {
                                                @foreach (var i in Model.Publishers)
                                                {
                                                    <option value="@i.Name">@i.Name</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="Publisher" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="CopiesCount"></label>
                                        <input asp-for="CopiesCount" class="form-control" id="copies-count" min="0" />
                                        <span asp-validation-for="CopiesCount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <div class="form-group">
                                        <label asp-for="Category"></label>
                                        <select asp-for="Category" class="form-control" id="category">
                                            <option value=""></option>
                                            @if (Model.Categories != null)
                                            {
                                                @foreach (var i in Model.Categories)
                                                {
                                                    <option value="@i.Name">@i.Name</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="Category" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <div class="form-group">
                                        <label asp-for="Author"></label>
                                        <select asp-for="Author" class="form-control" id="author" multiple>
                                            <option value=""></option>
                                            @foreach (var author in Model.Authors)
                                            {
                                                <option value="@author.Name">@author.Name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="Author" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                <button class="btn btn-success" form="manage-books-form">Dodaj</button>
            </div>
        </div>
    </div>
</div>

@if (Model.Books != null)
{
    <table id="table" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                @foreach (var column in Model.ColumnNames)
                {
                    <th>@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @{ int counter = 0;}
            @foreach (var book in Model.Books)
            {
                counter = counter + 1;
                <tr>
                    <td>@counter</td>
                    <td><img class="book-covering-image-table" src="~/images/BookCovering/@book.CoveringPath" /></td>
                    <td>@book.BookId</td>
                    <td>
                        <form asp-controller="LibraryManage" asp-action="ModifyBook" method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" value="@book.BookId" />
                                <input asp-for="Title" class="form-control" value="@book.Title" onchange="this.form.submit();" />
                            </div>
                        </form>
                    </td>
                    <td>@book.LoansCount</td>
                    <td>
                        <form asp-controller="LibraryManage" asp-action="ModifyBook" method="post">
                            <div class="form-group">
                                <input type="hidden" asp-for="Id" value="@book.BookId"/>
                                <input asp-for="CopiesCount" class="form-control" value="@book.CopiesCount" onchange="this.form.submit();" />
                            </div>
                        </form>
                    </td>
                    <td>
                        <div class="float-left pl-1 pb-3">
                            <form asp-controller="Home" asp-action="BookPreview" method="post">
                                <Button type="submit" class="btn btn-primary" name="BookId" value="@book.BookId"><span class="fa fa-info"></span></Button>
                            </form>
                        </div>
                        <div class="float-left pl-1 pb-3">
                            <!-- Button trigger modal -->
                            <button class="btn btn-danger" data-toggle="modal" data-target="#remove-modal-@book.BookId"><span class="fa fa-times"></span></button>

                            <!-- Modal -->
                            <div class="modal fade" id="remove-modal-@book.BookId" tabindex="-1" role="dialog" aria-labelledby="remove-modal-@book.BookId-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="remove-modal-@book.BookId-label">Usuwanie książki</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-controller="LibraryManage" asp-action="RemoveBook" method="post" id="remove-book-form-@book.BookId"></form>
                                            Czy na pewno chcesz usunąć tę książkę?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                            <button class="btn btn-danger" name="Id" value="@book.BookId" form="remove-book-form-@book.BookId">Usuń</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        Brak elementów do wyświetlenia
    </div>
}
<script>
    var btn = document.getElementById('export-modal');
    btn.addEventListener('click', () => {
        var doc = new jsPDF('p', 'pt');
        var elem = document.getElementById("table");
        var res = doc.autoTableHtmlToJson(elem);

        doc.addFont('Abha.ttf', 'Abha', 'normal', 'Identity-H');
        doc.setFont('Abha');
        doc.autoTable(res.columns, res.data, {
            styles: { fillColor: [100, 255, 255] },
            columnStyles: {
                id: { fillColor: 255 }
            },
            margin: { top: 60 },
            addPageContent: function (data) {
                doc.text("@ViewData["Title"]", 40, 30);
            }
        });
        doc.save("table.pdf");
    }, false);
</script>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
