@model EBookLibraryData.Models.ViewModels.LibraryManage.QueuesManageViewModel

@{
    Layout = "_ManageLibraryLayout";
}

<h3>
    @ViewData["Title"]
</h3>
@if (Model.RemovedSuccessfully)
{
    <div class="alert alert-success" role="alert">
        @Model.RemoveSuccess
    </div>
}
else if (Model.RemoveError)
{
    <div class="alert alert-danger" role="alert">
        @Model.RemoveFailed
    </div>
}

@if (Model.Queues != null)
{
    <table id="table" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                @foreach (var column in Model.ColumnNames)
                {
                    <th>@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var queue in Model.Queues)
            {
                <tr>
                    <td>@queue.QueueId</td>
                    <td>@queue.BookId</td>
                    <td>@queue.UserId</td>
                    <td>@queue.JoinDate</td>
                    <td>
                        <div class="float-left pl-1 pb-3">
                            <!-- Button trigger modal -->
                            <button class="btn btn-danger" data-toggle="modal" data-target="#remove-modal-@queue.QueueId"><span class="fa fa-times"></span></button>

                            <!-- Modal -->
                            <div class="modal fade" id="remove-modal-@queue.QueueId" tabindex="-1" role="dialog" aria-labelledby="remove-modal-@queue.QueueId-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="remove-modal-@queue.QueueId-label">Usuwanie autora</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-controller="LibraryManage" asp-action="Queues" method="post" id="remove-author-form-@queue.QueueId"></form>
                                            Czy na pewno chcesz usunąć tego autora?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                            <button class="btn btn-danger" name="QueueId" value="@queue.QueueId" form="remove-author-form-@queue.QueueId">Usuń</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        Brak elementów do wyświetlenia.
    </div>
}