@model EBookLibraryData.Models.ViewModels.LibraryManage.UsersManageViewModel

@{
    Layout = "_ManageLibraryLayout";
}

<script type="text/javascript" src="~/lib/kayalshri-tableExport.jquery.plugin-a891806/tableExport.js"></script>
<script type="text/javascript" src="~/lib/kayalshri-tableExport.jquery.plugin-a891806/jquery.base64.js"></script>
<script type="text/javascript" src="~/lib/kayalshri-tableExport.jquery.plugin-a891806/jspdf/libs/sprintf.js"></script>
<script type="text/javascript" src="~/lib/kayalshri-tableExport.jquery.plugin-a891806/jspdf/jspdf.js"></script>
<script type="text/javascript" src="~/lib/kayalshri-tableExport.jquery.plugin-a891806/jspdf/libs/base64.js"></script>

<h3 class="pb-2">
    @ViewData["Title"]
    <span style="display: inline-block; float: right">
        <span style="display: inline-block">
            <!-- Button trigger modal -->
            <button class="btn btn-primary" id="export-modal"><span class="fa fa-file-pdf"></span></button>
        </span>
    </span>
</h3>

@if (Model.RemovedSuccessfully)
{
    <div class="alert alert-success" role="alert">
        @Model.RemoveSuccess
    </div>
}
else if (Model.RemoveError)
{
    <div class="alert alert-danger" role="alert">
        @Model.RemoveFailed
    </div>
}

@if (Model.Users != null)
{
    <table id="table" class="table table-striped table-bordered" style="width: 100%">
        <thead>
            <tr>
                @foreach (var column in Model.ColumnNames)
                {
                    <th>@column</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <div class="float-left pl-1 pb-3">
                            <form asp-controller="LibraryManage" asp-action="ChangeRole" method="post" id="remove-user-form-@user.Id">
                                <div class="form-group">
                                    <select asp-for="RoleChoosed" class="form-control" style="min-width: 130px" id="role-chooser">
                                        @foreach (var role in Model.Roles)
                                        {
                                            <option value="@role.Name" data-toggle="modal" data-target="#change-role-@user.Id">@role.Name</option>
                                        }
                                    </select>
                                    <script>
                                        window.addEventListener('load', () => {
                                            $("#role-chooser").change(() => {
                                                $('#change-role-modal-@user.Id').modal('show');
                                            });
                                        }, false);
                                    </script>
                                </div>
                            </form>

                            <!-- Modal -->
                            <div class="modal fade" id="change-role-modal-@user.Id" tabindex="-1" role="dialog" aria-labelledby="change-role-@user.Id-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="change-role-@user.Id-label">Usuwanie autora</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Czy na pewno chcesz zmienić rolę tego użytkownika?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                            <button class="btn btn-danger" name="UserId" value="@user.Id" form="remove-user-form-@user.Id">Zmień</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="float-left pl-1 pb-3">
                            <!-- Button trigger modal -->
                            <button class="btn btn-danger" data-toggle="modal" data-target="#remove-modal-@user.Id"><span class="fa fa-times"></span></button>

                            <!-- Modal -->
                            <div class="modal fade" id="remove-modal-@user.Id" tabindex="-1" role="dialog" aria-labelledby="remove-modal-@user.Id-label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="remove-modal-@user.Id-label">Usuwanie autora</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form asp-controller="LibraryManage" asp-action="Users" method="post" id="remove-user-form-@user.Id"></form>
                                            Czy na pewno chcesz usunąć tego użytkownika?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                                            <button class="btn btn-danger" name="UserId" value="@user.Id" form="remove-user-form-@user.Id">Usuń</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @if (user.LockoutEnabled)
                        {
                            <div class="float-left pl-1 pb-3">
                                <!-- Button trigger modal -->
                                <form asp-controller="LibraryManage" asp-action="ChangeLockStatus" method="post" id="block-user-form-@user.Id">
                                    <button class="btn btn-warning" name="UserId" value="@user.Id"><span class="fa fa-unlock"></span></button>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="float-left pl-1 pb-3">
                                <!-- Button trigger modal -->
                                <form asp-controller="LibraryManage" asp-action="ChangeLockStatus" method="post" id="unlock-user-form-@user.Id">
                                    <button class="btn btn-warning" name="UserId" value="@user.Id"><span class="fa fa-lock"></span></button>
                                </form>
                            </div>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info" role="alert">
        Brak elementów do wyświetlenia.
    </div>
}
<script>
    var btn = document.getElementById('export-modal');
    btn.addEventListener('click', () => {
        var doc = new jsPDF('p', 'pt');
        var elem = document.getElementById("table");
        var res = doc.autoTableHtmlToJson(elem);

        doc.addFont('Abha.ttf', 'Abha', 'normal', 'Identity-H');
        doc.setFont('Abha');
        doc.autoTable(res.columns, res.data, {
            styles: { fillColor: [100, 255, 255] },
            columnStyles: {
                id: { fillColor: 255 }
            },
            margin: { top: 60 },
            addPageContent: function (data) {
                doc.text("@ViewData["Title"]", 40, 30);
            }
        });
        doc.save("table.pdf");
    }, false);
</script>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
