@model EBookLibraryData.Models.ViewModels.Home.BookPreviewViewModel
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager


<script src="~/js/bookPreview.js"></script>
<div class="card">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="card-img-top">
                <img class="card-img-top" src="~/images/BookCovering/@Model.Book.CoveringPath" alt="Okładka" />
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="card-img-bottom">
                <h4>@Model.Book.Title</h4>
                <p>
                    Autor:
                    @foreach (var author in Model.Book.BookAuthors)
                    {
                        <text>@author.Author.Name</text>
                    }
                </p>
                <p>Kategoria: @Model.Book.Category.Name</p>
                @if (Model.Book.Publisher != null)
                {
                    <p>Wydawca: @Model.Book.Publisher.Name</p>
                }
                <p>Ilość stron: @Model.Book.Pages</p>
                <p>Data dodania: @Model.Book.AddDate</p>
                <p>Dostępnych egzemplarzy: @Model.Book.CopiesCount</p>
                <p>ISBN: @Model.Book.ISBN</p>
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (Model.BookRent)
                    {
                        <a class="btn btn-success mb-2" href="~/lib/pdfjs-1.9.426-dist/web/viewer.html?file=/images/Book/@Model.Book.Path">
                            Czytaj
                            <span class="fa fa-book-reader">
                            </span>
                        </a>
                        <form asp-controller="Home" asp-action="RemoveUserLoan" method="post" class="mb-2">
                            <button class="btn btn-success" asp-controller="Home" asp-action="ReturnBook" name="BookId" value="@Model.BookId">
                                Zwróć
                                <span class="fa fa-book">
                                </span>
                            </button>
                        </form>
                    }
                    else
                    {
                        @if (Model.InQueue)
                        {
                            @if (Model.JoinQueueError)
                            {
                                <div class="alert alert-danger mr-4" role="alert">
                                    <text>@Model.JoinQueueFailed</text>
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-success mr-4" role="alert">
                                    <text>@Model.JoinQueueSuccess</text><br /><br />
                                    <form asp-controller="Home" asp-action="LeaveQueue" method="post" class="mb-2">
                                        <button class="btn btn-secondary" asp-controller="Home" asp-action="LeaveQueue" name="BookId" value="@Model.BookId">
                                            Opuść kolejkę
                                            <span class="fa fa-times text-danger">
                                            </span>
                                        </button>
                                    </form>
                                </div>
                            }

                        }
                        else
                        {
                            @if (Model.BookNotAvailable)
                            {
                                <div class="alert alert-info mr-4" role="alert">
                                    <text>@Model.BookNotAvailableMessage</text>
                                </div>
                                @*<form asp-controller="Home" asp-action="JoinQueue" method="post" class="mb-2">
                                    <div class="form-row">
                                        <div class="col-xs-2">
                                            <div style="line-height: 35px">
                                                <label asp-for="LoanPeroidDays"></label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <input asp-for="LoanPeroidDays" class="form-control" style="width: 96px" max="7" />
                                                <span asp-validation-for="LoanPeroidDays" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <button class="btn btn-success" asp-controller="Home" asp-action="JoinQueue" name="BookId" value="@Model.BookId">
                                                Do kolejki
                                                <span class="fa fa-book-open">
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>*@
                            }
                            else
                            {
                                <form asp-controller="Home" asp-action="LoanBook" method="post" class="mb-2">
                                    @*<div class="form-row">
            <div class="col-xs-2">
                <div style="line-height: 35px">
                    <label asp-for="LoanPeroidDays"></label>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <input asp-for="LoanPeroidDays" class="form-control" style="width: 96px" max="7" />
                    <span asp-validation-for="LoanPeroidDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-xs-4">
                <button class="btn btn-success" asp-controller="Home" asp-action="LoanBook" name="BookId" value="@Model.BookId">
                    Wyporzycz
                    <span class="fa fa-book-open">
                    </span>
                </button>
            </div>
        </div>*@
                                    <div class="form-row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label asp-for="EndDate"></label>
                                                <input asp-format="{0:yyyy-MM-ddThh:mm}" asp-for="EndDate" class="form-control" id="date-time-picker"/>
                                                <span asp-validation-for="EndDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-xs-12">
                                            <button class="btn btn-success" asp-controller="Home" asp-action="LoanBook" name="BookId" value="@Model.BookId">
                                                Wyporzycz
                                                <span class="fa fa-book-open">
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            }
                        }
                    }
                }
                else
                {
                    <a class="btn btn-link" href="~/Account/Login">
                        <span class="fa fa-sign-in-alt">
                        </span>
                        Zaloguj się by wyporzyczyć
                    </a>
                }
            </div>
        </div>
    </div>
</div>