@model EBookLibraryData.Models.ViewModels.Home.BrowseBooksViewModel

<script src="~/js/browseBooks.js"></script>
<script src="~/js/pagination.js"></script>
<div class="row">
    <div class="col-xs-12">
        <form asp-controller="Home" asp-action="BrowseBooks" method="get" id="browse-books-form">
            <p>
                <a style="color: inherit" data-toggle="collapse" href="#menu" aria-expanded="false" aria-controls="menu">
                    <h4>Filtruj <span id="collapse-icon" class="fa fa-ellipsis-h"></span></h4>
                </a>
            </p>
            <div class="collapse" id="menu">
                <div class="form-row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label asp-for="ElementsOnPage"></label>
                            <input asp-for="ElementsOnPage" class="form-control" />
                            <span asp-validation-for="ElementsOnPage" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label asp-for="PagesMax"></label>
                            <input asp-for="PagesMax" class="form-control" />
                            <span asp-validation-for="PagesMax" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label asp-for="Author"></label>
                            <input asp-for="Author" class="form-control" />
                            <span asp-validation-for="Author" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label asp-for="Publisher"></label>
                            <input asp-for="Publisher" class="form-control" />
                            <span asp-validation-for="Publisher" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label asp-for="ISBN"></label>
                            <input asp-for="ISBN" class="form-control" />
                            <span asp-validation-for="ISBN" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label asp-for="Category"></label>
                            <select asp-for="Category" class="form-control" id="category">
                                @foreach (var i in Model.Categories)
                                {
                                    <option value="@i.Name">@i.Name</option>
                                }
                            </select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="form-group">
                            <label asp-for="Title"></label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Filtruj</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Lista książek</h4>
    </div>
</div>
<div class="row justify-content-center">
    @if (Model.Books != null)
    {
        @if (Model.Books.Count() > 0)
        {
            @foreach (var i in Model.Books)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card" style="width: 100%">
                        <img class="card-img-top" src="~/images/BookCovering/@i.CoveringPath" alt="Okładka">
                        <div class="card-body">
                            <h5 class="card-title">@i.Title</h5>
                            <p class="card-text">Autor: @i.Author</p>
                            <p class="card-text">Katgoria: @i.Category.Name</p>
                            <form asp-controller="Home" asp-action="BookPreview" method="post">
                                <Button type="submit" class="btn btn-primary" name="id" value="@i.BookId">Szczegóły</Button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
<div class="row justify-content-center mt-4">
    <div class="col-xs-12">
        @{
            var next = Model.Page + 1;
            var prev = Model.Page - 1;
            if (next > Model.AllPagesCount)
            {
                next = Model.AllPagesCount;
            }
            if (prev < 1)
            {
                prev = 1;
            }
        }
        <ul class="pagination">
            <li>
                <button class="btn btn-default" id="prev-btn" value="@prev" form="browse-books-form">
                    <span class="fa fa-angle-left"></span> Poprzednia
                </button>
            </li>
            <li class="pl-1 pr-2"><input asp-for="Page" class="form-control" style="width: 96px" id="page-input" step="1" form="browse-books-form" /></li>
            <li>z<button class="btn btn-link" id="max-page" value="@Model.AllPagesCount" form="browse-books-form">@Model.AllPagesCount</button></li>
            <li>
                <button class="btn btn-default" id="next-btn" value="@next" form="browse-books-form">
                    Następna <span class="fa fa-angle-right"></span>
                </button>
            </li>
        </ul>
    </div>
</div>