@model EBookLibraryData.Models.ViewModels.BooksManage.ManagePanelViewModel

<script src="~/js/managePanel.js"></script>
<script src="~/js/pagination.js"></script>
<script src="~/js/doubleInput.js"></script>
<div class="row">
    <div class="col-xs-12">
        <form enctype="multipart/form-data" asp-controller="BooksManage" asp-action="ManagePanel" method="post" id="manage-books-form">
            <h4>Zarządzaj</h4>
            <div class="form-row">
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label asp-for="BookCovering"></label>
                        <br />
                        <img class="img-fluid p-2" id="book-covering-image"
                             src="~/images/Icons-master/picol_latest_prerelease_svg/document_image_add.svg" />
                        <input asp-for="BookCovering" class="form-control-file" id="book-covering" accept="image/*" />
                        <span asp-validation-for="BookCovering" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="form-group">
                        <label asp-for="Book"></label>
                        <br />
                        <img class="img-fluid p-2" id="book-image"
                             src="~/images/Icons-master/picol_latest_prerelease_svg/book_text_add.svg" />
                        <input asp-for="Book" class="form-control-file" id="book" accept=".pdf" />
                        <span asp-validation-for="Book" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" id="title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <label asp-for="OperationType"></label>
                        <select asp-for="OperationType" class="form-control" id="operation-types">
                            @foreach (var i in Model.Operations)
                            {
                                <option value="@i[1]">@i[0]</option>
                            }
                        </select>
                        <span asp-validation-for="OperationType" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <label asp-for="Id"></label>
                        <input asp-for="Id" class="form-control" id="id" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <label asp-for="ISBN"></label>
                        <input asp-for="ISBN" class="form-control" id="isbn" />
                        <span asp-validation-for="ISBN" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <label asp-for="Pages"></label>
                        <input asp-for="Pages" class="form-control" id="pages" />
                        <span asp-validation-for="Pages" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <label asp-for="Publisher"></label>
                        <input asp-for="Publisher" class="form-control" id="publisher" />
                        <span asp-validation-for="Publisher" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <label asp-for="Category"></label>
                        <select asp-for="Category" class="form-control" id="category">
                            @foreach (var i in Model.Categories)
                            {
                                <option value="@i.Name">@i.Name</option>
                            }
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-3">
                    <div class="form-group">
                        <label asp-for="CopiesCount"></label>
                        <input asp-for="CopiesCount" class="form-control" id="copies-count" />
                        <span asp-validation-for="CopiesCount" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                    <div class="form-group">
                        <label asp-for="Author"></label>
                        <input asp-for="Author" class="form-control" id="author" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                    <div>
                        <label>Ilość stron</label>
                        <input asp-for="PagesRangeSelected" id="page-range-checked" />
                    </div>
                    <div class="form-group">
                        <div class='multi-range' data-lbound='0' data-ubound='10000'>
                            <hr />
                            <input type='range'
                                   min='0' max='9999' step='1' value='1' class="double-input"
                                   oninput='this.parentNode.dataset.lbound=this.value;' asp-for="PagesMin" id="double-input-min" disabled />
                            <input type='range'
                                   min='1' max='10000' step='1' value='10000' class="double-input"
                                   oninput='this.parentNode.dataset.ubound=this.value;' asp-for="PagesMax" id="double-input-max" disabled />
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Zatwierdź</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Lista książek</h4>
    </div>
</div>
<div class="row justify-content-center">
    @if (Model.Books != null)
    {
        @if (Model.Books.Count() > 0)
        {
            <div class="card-columns">
                @foreach (var i in Model.Books)
                {
                    <div class="card" style="width: 100%">
                        <img class="card-img-top" src="~/images/BookCovering/@i.CoveringPath" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@i.Title</h5>
                            <p class="card-text">Autor: @i.Author</p>
                            <p class="card-text">Katgoria: @i.Category.Name</p>
                            <div class="float-left pl-1 pb-3">
                                <form asp-controller="Home" asp-action="BookPreview" method="post">
                                    <Button type="submit" class="btn btn-primary" name="id" value="@i.BookId">
                                        <span class="fa fa-info"></span>
                                    </Button>
                                </form>
                            </div>
                            <div class="float-left pl-1 pb-3">
                                <form asp-controller="BooksManage" asp-action="DeleteBook" method="post">
                                    <button class="btn btn-danger" name="id" value="@i.BookId">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
</div>
@if (Model.BookSearched)
{
    @if (Model.AnyElements)
    {
        @if (Model.MoreThanOnePage)
        {
            <div class="row justify-content-center mt-4">
                <div class="col-xs-12">
                    @{
                        var next = Model.Page + 1;
                        var prev = Model.Page - 1;
                        if (next > Model.AllPagesCount)
                        {
                            next = Model.AllPagesCount;
                        }
                        if (prev < 1)
                        {
                            prev = 1;
                        }
                    }
                    <ul class="pagination">
                        <li>
                            <button class="btn btn-default" id="prev-btn" value="@prev" form="manage-books-form">
                                <span class="fa fa-angle-left"></span> Poprzednia
                            </button>
                        </li>
                        <li class="pl-1 pr-2"><input asp-for="Page" class="form-control" style="width: 96px" id="page-input" step="1" form="manage-books-form" /></li>
                        <li>z<button class="btn btn-link" id="max-page" value="@Model.AllPagesCount" form="manage-books-form">@Model.AllPagesCount</button></li>
                        <li>
                            <button class="btn btn-default" id="next-btn" value="@next" form="manage-books-form">
                                Następna <span class="fa fa-angle-right"></span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-info" role="alert">
            @Model.NoElementsMessage
        </div>
    }
}
@if (Model.BookAdded)
{
    @if (Model.OperationErrorName != "add")
    {
        <div class="alert alert-success" role="alert">
            @Model.BookAddedMessageSuccess
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @Model.BookAddedMessageError
        </div>
    }
}
@if (Model.BookRemoved)
{
    @if (Model.OperationErrorName != "remove")
    {
        <div class="alert alert-success" role="alert">
            @Model.BookRemovedMessageSuccess
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @Model.BookRemovedMessageError
        </div>
    }
}
@if (Model.BookModified)
{
    @if (Model.OperationErrorName != "modify")
    {
        <div class="alert alert-success" role="alert">
            @Model.BookModifiedMessageSuccess
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @Model.BookModifiedMessageError
        </div>
    }
}

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
